<div class="index-bottom flex">
    <div class="layout-xs-column layout-row" id="simple-easy">
        <div class="layout-row layout-gt-xs-column flex" id="see-price-text">
            <img src="assets/images/instant-quote.png" class="index-icon" id="index-icon-quote" height="100" alt="instant quote icon"/>
            <div class="flex icon-text">
                <h2>Instant Quote</h2>
                <p>Simply choose your device and see how much you're going to get paid.</p>
            </div>
        </div>
        <div class="layout-row layout-gt-xs-column flex" id="appt-text">
            <img src="assets/images/friendly-girl.png"  class="index-icon" id="index-icon-girl" height="100" alt="friendly staff icon"/>
            <div class="flex icon-text">
                <h2>Free Pickup</h2>
                <p>We offer free instant pickups anywhere in NYC. It's never been easier to sell and get cash!</p>
            </div>
        </div>
        <div class="layout-row layout-gt-xs-column flex" id="paid-text">
            <img src="assets/images/same-day-payment.png"  class="index-icon" id="index-icon-payment" height="100" alt="same day payment icon"/>
            <div class="flex icon-text">
                <h2>Same Day Payment</h2>
                <p>You get cash in under 3 hours from when your device is picked up. Choose from PayPal, Venmo, or Chase QuickPay.</p>
            </div>
        </div>
    </div>
</div>
<div class="buybacker-team layout-row layout-xs-column index-footer">
    <div class="flex-50 flex-xs-100">
        <img src="assets/images/buybacker-team.jpg" alt="buybacker team"/>
    </div>
    <div class="index-footer-text flex-50 flex-xs-100" id="buybacker-team-text">

        <h4>Selly is an exciting new startup headquartered in NYC. Our technology makes it easy for you to sell your old devices and get instant cash today.</h4>

    </div>
</div>
<div class="index-footer-details">
    <div class="layout-row">
        <div class="flex layout-column flex-50">
            <h2 class="index-footer-title">30</h2>
            <span class="index-footer-description">
                Takes less than 30 seconds to see how much you'll get paid.
            </span>
        </div>
        <div class="flex layout-column flex-50">
            <h2 class="index-footer-title">3</h2>
            <span class="index-footer-description">
                Just 3 easy clicks to sell your old device.
            </span>
        </div>
    </div>
    <div class="layout-row">
        <div class="layout-column flex-50">
            <h2 class="index-footer-title">1</h2>
            <span class="index-footer-description">
                Selly is the fastest and easiest way in the world to get cash for your old phones and tablets.
            </span>
        </div>
        <div class="layout-column flex-50">
            <h2 class="index-footer-title">0</h2>
            <span class="index-footer-description">
                Zero effort. We'll pick up your old device today from your home, office, or anywhere.
            </span>
        </div>
    </div>
    <div class="layout-row">
        <div class="layout-column flex-50">
            <h2 class="index-footer-title">Anywhere</h2>
            <span class="index-footer-description">
                Selly offers free instant pickups anywhere in NYC. Many more cities coming soon!
            </span>
        </div>
        <div class="layout-column flex-50">
            <h2 class="index-footer-title">Always</h2>
            <span class="index-footer-description">
                We guarantee to destroy all the data from your device so your information is always safe and secure.
            </span>
        </div>
    </div>
</div>
<div class="index-footer-text-logos layout-row layout-xs-column">
    <div class="buybacker-bring-money-text flex-50 flex-xs-100 layout-column">
        <div class="flex launch-text">
            <h4>We're working on launching in San Francisco, Los Angeles, Boston, and many other cities around the world. Stay tuned and we'll see you soon!</h4>
        </div>
        <div class="flex mailing-list-signup">
            {{ember-chimp formAction="//buybackcorps.us14.list-manage.com/subscribe/post?u=29db3299aa2102de12060e420&amp;id=650d8c1b33" method="post" id="mc-embedded-subscribe-form"
                      label="Sign up for the latest updates:"
                      placeholder="Email Address"
                      buttonText="Sign Up"
                      loadingText="Loading..."
                      responses=emberChimpResponses
        }}
        </div>
    </div>
    <div class="index-footer-logos layout-column flex-50 flex-xs-100">

        <div class="top-logos flex">
            <img id="chase" src="assets/images/chase-quickpay.png" alt="chase quickpay" />
            <img id="paypal" src="assets/images/paypal.png" alt="paypal" />
        </div>
        <div class="bottom-logos flex">
            <img id="venmo-logo" src="assets/images/venmo_logo_blue.png" alt="venmo" width="210px"/>
        </div>

    </div>
</div>
<div class="footer-button layout-row">
    {{#scroll-to href='#index' easing='linear'}}
        {{#paper-button}}Sell Now{{/paper-button}}
    {{/scroll-to}}
</div>
