<div class="network">
	{{#paper-radio-group groupValue=groupValue onChange=(action 'changeNetworkValue') as |group|}}
    {{#group.paper-radio value=network}}
        <div class="network_images">
            <img src="assets/images/{{network_image}}" class="img_network" />
        </div>
        <div class="network_title">
            <h3>{{network}}</h3>
        </div>
    {{/group.paper-radio}}
{{/paper-radio-group}}
</div>



