<div class="device layout-column flex">
    <div class="layout-row flex index-bottom-buttons">
        <div class="flex buttons" id="iphone-button">
            {{#paper-button raised=true onClick=(action "iPhoneSelection")}}Sell iPhone{{/paper-button}}
        </div>
        <div class="flex buttons" id="ipad-button">
           {{#paper-button raised=true onClick=(action "transition")}}Sell Other{{/paper-button}}
        </div>
    </div>
</div>


