<div class="device">
    {{#paper-radio-group groupValue=groupValue onChange=(action 'changeDeviceValue') as |group|}}
        {{#group.paper-radio value=device_type}}
            <div data-id={{id}} class="device_images">
                <img src="assets/images/{{image}}" class="img_device" />
            </div>
            <div class="device_title">
                <h3>{{device_type}}</h3>
            </div>
        {{/group.paper-radio}}
    {{/paper-radio-group}}
</div>


