{{#if selectedDevice.device_attributes.device}}
    <div class="layout-md-column flex" id="device-selection-text">
        <h2>You have already selected {{selectedDevice.device_attributes.device}}</h2>
        <h3>Click on another device to change your selection?</h3>
    </div>
{{else}}
    <div class="layout-md-column flex" id="device-selection-text">
        <h3>Sell Your iPhone</h3>
    </div>
{{/if}}
