<div id="index-text-money">
    sell your old phone
</div>
<div id="index-text-one-hour">
    <div class="index-text-numbers">
        <span class="check">1. </span><br>
        <span class="check">2. </span><br>
        <span class="check">3. </span><br>
    </div>
    <div class="index-text-number-text">
        <div id="instant-quote">Instant Quote</div>
        <div id="free-pickup">Free Pickup</div>
        <div id="same-day-payment">Same Day Payment</div>
    </div>
</div>

