<div class="sell_button">
    {{#paper-button raised=true primary=true onClick=(action 'quoted')}}Get Cash Today{{/paper-button}}
</div>

<div class="name_input">
    {{paper-input label="Name"
    value=name
    onChange=(action (mut name))
    required=true
    errorMessages=(hash required="Name is required.")
    icon="person"}}
</div>

<div class="phone_input">
    {{paper-input label="Texting Number" type="tel"
    value=phone
    onChange=(action (mut phone))
    required=true
    errorMessages=(hash required="This number must accept text messages.")
    icon="phone"}}
</div>