<div class="device layout-column flex">
    <div class="layout-row flex index-bottom-buttons">
        <div class="flex buttons" id="ipad-button">
            {{#paper-button raised=true primary=true onClick=(action "ipad") bubbles=false }}Sell iPad{{/paper-button}}
        </div>
        <div class="flex buttons" id="samsung-button">
            {{#paper-button raised=true primary=true onClick=(action "samsung") bubbles=false }}Sell Samsung{{/paper-button}}
        </div>
    </div>
</div>
