<section class="material-design-hamburger">
    <button class="material-design-hamburger__icon">
        <span class="material-design-hamburger__layer"></span>
    </button>
</section>

<section class="menu menu--off">
    <div>Android's Material Design Hamburger Animation</div>
    <div>Adapted for the web by <a href="https://swirlycheetah.com" target="_blank">Chris Wheatley</a></div>
    <div><a href="https://github.com/swirlycheetah/material-design-hamburger" target="_blank">Available on GitHub</a></div>
    <div><a href="https://twitter.com/swirlycheetah" target="_blank">Follow me on Twitter @swirlycheetah</a></div>
</section>
