@import 'ember-paper';

html {
  height: auto;
  min-height: 100%;
  position: relative;
}


.header_container, .footer_container {
  position:absolute;
  left:0;
  padding:0;
  min-width:100%;
}

.header_container {
  height: 80px;
  top: 0;
  background-color: rgba(7, 153, 7, 0.18);
}

.header {
  display:flex;
  justify-content: center;
  align-items: baseline;
  align-content: center;
}

.header a {
  color: #0629ff;
  text-decoration: none;
}

.body {
  padding-top: 5.5%;
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 5.5%;
  display:flex;
  justify-content: center;
  align-items: baseline;
  align-content: center;
}

#index-text {
 text-align: center;
}

#device-selection-text {
  justify-content: center;
  text-align: center;

}

.user-selection {
  display: flex;
}

.final-device-selection {
  margin: 3rem;
}

.selector {
  display: flex;
  flex-wrap: wrap;
}

.hidden-component .selector {
  display: none;
}

.device {
  padding:2em;
  margin:2em;
  border: 1px solid transparent;
}

.img_device {
  padding: 0.2em;
  height: 200px;
}

.device:hover {
  border: 1px solid rgba(26, 131, 255, 0.47);
}

.condition_list {
  list-style: none;
  padding: 0;
}

.footer_container {
  position: absolute;
  height: 80px;
  bottom:0;
  background-color: rgba(7, 153, 7, 0.18);
  overflow: hidden;
}

.footer {
  padding-top:2%;
  display:flex;
  justify-content: space-around;
  align-content: center;
}

.navigation {
  color: #0629ff;
  width: 50%;
  display:flex;
  justify-content: space-around;
}

.navigation a {
  color: #0629ff;
  text-decoration: none;
}
