//background-color: #1EB0DC;
//background-color: #FFB019;

$primary: "light-blue";
$accent: "amber";
$warn: "brown";

@import 'ember-paper';
@import url(https://fonts.googleapis.com/css?family=Comfortaa:300,400,700);

@mixin small {
  @media only screen and (max-width: 766px) {
    @content;
    @keyframes material-design-hamburger__icon--slide-before {
      0% {
      }
      100% {
        transform: rotate(-45deg);
        margin: 3% -12%;
        width: 75%;
      }
    }
    @keyframes material-design-hamburger__icon--slide-after {
      0% {
      }
      100% {
        transform: rotate(45deg);
        margin: 3% -12%;
        width: 75%;
      }
    }
  }
}

@mixin large {
  @media only screen and (max-width: 1080px) {
    @content
  }
}

@mixin medium {
  @media only screen and (max-width: 930px) {
    @content
  }
}

@mixin medium-xs {
  @media only screen and (max-width: 863px) {
    @content
  }
}

@mixin smaller {
  @media only screen and (max-width: 650px) {
    @content
  }
}

@mixin xs {
  @media only screen and (max-width: 560px) {
    @content
  }
}

@mixin xxs {
  @media only screen and (max-width: 500px) {
    @content
  }
}

@keyframes material-design-hamburger__icon--slide {
  0% {
  }
  100% {
    transform: rotate(-180deg);
  }
}

@keyframes material-design-hamburger__icon--slide-before {
  0% {
  }
  100% {
    transform: rotate(-45deg);
    margin: 11% -12%;
    width: 63.5%;
  }
}

@keyframes material-design-hamburger__icon--slide-after {
  0% {
  }
  100% {
    transform: rotate(45deg);
    margin: 11% -12%;
    width: 63.5%;
    @include small {
      margin: 3% -12%;
      width: 75%;
    }
  }
}

@keyframes material-design-hamburger__icon--slide-from {
  0% {
    transform: rotate(-180deg);
  }
  100% {
  }
}

@keyframes material-design-hamburger__icon--slide-before-from {
  0% {
    transform: rotate(45deg);
    margin: 3% 37%;
    width: 75%;
  }
  100% {
  }
}

@keyframes material-design-hamburger__icon--slide-after-from {
  0% {
    transform: rotate(-45deg);
    margin: 3% 37%;
    width: 75%;
  }
  100% {
  }
}

@keyframes slide-up {
  from {
    -webkit-transform: none;
    transform: none;

  }
  to {
    -webkit-transform: translate3d(0, 50%, 0);
    transform: translate3d(0, 50%, 0);
  }
}
@media only screen and (min-width: 961px) {
  .device-size {
    width:50%;
  }

  .device-condition {
    width:50%;
  }
}

@media only screen and (max-width: 960px) {
  .device-size {
    width: 80%;
  }

  .device-condition {
    width: 80%;
  }
}

* {
  box-sizing: border-box;
}

html {
  font-family: 'Comfortaa', cursive;
  width: 1500px;
  max-width:105%;
  margin: 0 auto;
  height: auto;
  background: none;
  @include small {
    -webkit-text-size-adjust:none;
  }
}

.body {
  //padding-top: 105px;
  font-family: 'Comfortaa', cursive;
  max-width:100%;
  padding-left: 0;
  padding-right: 0;
  display:flex;
  background: none;
  -webkit-font-smoothing: antialiased;
  @include small {
    -webkit-text-size-adjust:none;
  }
}

//navigation

section {
  position: fixed;
  z-index:999;
  display: flex;
  width: 100%;
  max-width: 1500px;
}

.sticky {
  opacity: 0;
  -moz-transition: opacity 0.4s ease-in-out;
  -o-transition: opacity 0.4s ease-in-out;
  -webkit-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
}

#logo {
  width: 400px;
  margin-left: 1%;
  @include xs {
    width:66%;
  }
}

svg {
  object-fit: contain;
}

.menu svg {
  width: 200px;
}

.wrapper {
  height: 100%;
  transition: all 300ms ease-in-out;
  margin: 1em 0;
  padding: 0;
}

.background--blur {
  background: color($primary, '50');
}

.menu {
  font-size:24px;
  color: color($accent, '600');
}

.menu div {
  border-bottom: 1px solid #ccc;
  margin:0;
}

.menu a {
  text-decoration: none;
  margin:0;
  padding:0;
  color: color($primary, 'A400')
}

.menu a:hover {
  text-decoration: underline;
}

.menu div:last-child {
  border: 0;
}

.menu--off {
  margin-top: 8rem;
  visibility: hidden;
  position: absolute;
  width: 0;
  right: 30%;
  height: 50%;
  background: #eee;
  min-height: 600px;
  transition: all 100ms;
  @include small {
    height: 100%;
    right: 56%;
  }
}

.menu--off div {
  height: 0;
  width: 0;
  margin: 0;
  padding-bottom: 0;
}

.menu--on {
  padding-top:0;
  margin-top: 102px;
  width: 50%;
  display: block;
  z-index: 999;
  height: 75%;
  right: 0;
  box-shadow: 8px 8px 20px 0 rgba(0, 0, 0, 0.2);
  transition: all 100ms;
  visibility: visible;
  @include small {
    width: 75%;
    margin-top: 107px;
  }
}

.menu--on div {
  height: auto;
  width: auto;
  margin: 5%;
  padding-bottom: 5%;
  border-bottom: 1px solid #ccc;
}

.material-design-hamburger {
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  //border-bottom: 1px solid color($primary, 'A400');
  transition: all 0.3s ease;
}
.material-design-hamburger-hide {
  top: -44px;
}


.material-design-hamburger button {
  display: block;
  border: none;
  background: none;
  outline: 0;
}

.material-design-hamburger__icon {
  padding: 3rem 1rem;
  cursor: pointer;
  @include small {
    padding: 1.5rem 0.7rem;
  }
}

.material-design-hamburger__layer {
  display: block;
  width: 100px;
  height: 5px;
  background: white;
  position: relative;
  animation-duration: 300ms;
  animation-timing-function: ease-in-out;
  @include small {
    height: 6px;
    width:60px;
  }
}

.material-design-hamburger__layer:before, .material-design-hamburger__layer:after {
  display: block;
  width: inherit;
  height: 5px;
  position: absolute;
  background: inherit;
  left: 0;
  content: '';
  animation-duration: 300ms;
  animation-timing-function: ease-in-out;
  @include small {
    height: 6px;
  }
}

.material-design-hamburger__layer:before {
  margin-bottom: 0.6rem;
  bottom: 200%;
  @include small {
    margin-bottom: 0;
  }
}

.material-design-hamburger__layer:after {
  margin-top: 0.6rem;
  top: 200%;
  @include small {
    margin-top: 0;
  }
}

.material-design-hamburger__icon--to-arrow {
  animation-name: material-design-hamburger__icon--slide;
  animation-fill-mode: forwards;
}

.material-design-hamburger__icon--to-arrow:before {
  animation-name: material-design-hamburger__icon--slide-before;
  animation-fill-mode: forwards;
}

.material-design-hamburger__icon--to-arrow:after {
  animation-name: material-design-hamburger__icon--slide-after;
  animation-fill-mode: forwards;
}

.material-design-hamburger__icon--from-arrow {
  animation-name: material-design-hamburger__icon--slide-from;
}

.material-design-hamburger__icon--from-arrow:before {
  animation-name: material-design-hamburger__icon--slide-before-from;
}

.material-design-hamburger__icon--from-arrow:after {
  animation-name: material-design-hamburger__icon--slide-after-from;
}

//end navigation

.row {
  width: 100%;
  max-width: 940px;
  margin: 0 auto;
  position: relative;
  padding: 0;
}

#index {
  display:flex;
  //background: linear-gradient(rgba(255, 176, 25, 0.1), rgba(255, 176, 25, 0.1)), url(../assets/images/iphone-wood.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 70vmin;
  z-index: -1;
}

#header-bg-video {
  position: absolute;
  max-height: 100vmax;
  width: 100vmax;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background-size: contain;
  background-position: top center;
  @include large {
    transform: translateX(-50%) translateY(-52%);
  }
  @include medium {
    transform: translateX(-50%) translateY(-55%);
  }
  @include small {
    transform: translateX(-50%) translateY(-50%);
  }

}

.index-text {
  flex: 0 1 auto;
  margin-top: 10rem;
  align-self: center;
  text-align: center;
  color: white;
}

#index-text-one-hour {
  color: white;
  width: 58%;
  margin: 0 auto;
  font-size: 48px;
  font-weight: 700;
  @include medium {
    width: 62%;
  }
  @include medium-xs {
    width: 64%;
  }
  @include small {
    width: 72%;
    font-size: 40px;
  }
  @include xs {
    width: 78%;
  }
  @include xxs {
    font-size: 34px;
    width: 80%;
  }
}

#device-selection-text {
  display: none;
  color: color($accent, '600');
  font-size: 36px;
  text-align: center;
  justify-content: center;

  margin: 0 auto;
  h3 {
    font-weight: 300;
    margin-bottom: 0;
    letter-spacing: 0.2ch;
    @include small {
      padding-top:0;
      margin-top:0;
      font-size: 30px;
    }
    @include xs {
      margin-top: 0;
      font-size: 26px;
      letter-spacing: 0;
      padding-top: 0.2em;
    }
  }
}

hr {
  display: flex;
  position: relative;
  overflow: visible;
  padding-top: 1em;
  width: 1000%;
  margin-left: -500%;
  height: 0;
  max-height: 0;
  font-size: 1px;
  line-height: 0;
  clear: both;
  border: none;
  border-bottom: 1px solid color($primary, 'A400');
  margin-bottom:-1px;
}

#model-selection-text, #network-selection-text {
  color: color($primary, 'A400');
  justify-content: center;
  text-align: center;
  margin-top: 70px;
}

.selector {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-height:50%;
}

.device-type {
  align-self: center;
}

.device-network {
  padding-bottom: 5em;
  @include small {
    padding-bottom: 2em;
  }
}

.device-network > div {
  padding-left: 1em;
  padding-right: 1em;
}

.reset-button {
  padding-bottom: 5em;
  button {
    font-size: 24px;
    height: 2em;
    width: 12em;
  }
}

.final-device-selection {
  justify-content: center;
  margin-top: 2rem;
}

.buttons .md-button {
  width: 200px;
  height: 50px;
  text-transform: none;
  font-size: 24px;
  @include small {
    width: 150px;
    height: 50px;
    font-size: 20px;
  }
  @include xxs {
    width: 110px;
    height: 45px;
    font-size: 18px;
  }
}

.device {
  margin: 1.5em;
  padding: 1em;
  justify-content: center;
  align-self: center;
  @include small {
    margin: 0.7rem;
  }
  @include xs {
    padding: 0.5em;
  }
  @include xxs {
    padding: 0;
  }
}

#iphone-button, #ipad-button, #samsung-button {
  color: #FFF;
  text-align: center;
  margin-top: 1rem;
  padding-top:6%;
  @include xs {
    padding-top: 2%;
  }
}

.buttons > .md-button {
  margin-left: 3rem;
  margin-right: 3rem;
  background-color: color($accent, '600')!important;
  color: #FFF!important;
  @include small {
    margin-left: 2rem;
    margin-right: 2rem;
  }
  @include smaller {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

.md-button.md-primary.md-raised {
  color: #FFFFFF!important;
}

.buttons > .md-button.md-raised:hover {
  background-color: color($accent, '800')!important;
}

.buttons > .md-button.md-raised:active {
  background-color: color($accent, '800')!important;
}

.md-button.md-raised:hover {
   background-color: color($primary, '800')!important;
}

.md-button.md-raised:active {
  background-color: color($primary, '800')!important;
}

.device * .md-label {
  margin-left:0;
}

.device * .md-container {
  display: none;
}

.md-label span {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: larger;
}

.device-network .md-label {
  @include small {
    margin: 0 auto;
  }
}

.device_title {
  font-weight: 400;
  letter-spacing: 1px;
  @include small {
    font-weight: 300;
    font-size: 12px;
  }
}

.index-bottom {
  color: color($primary, 'A400');
  background-color: #FFFFFF;
  padding-bottom: 3rem;
  justify-content: center;
  align-items: center;
  @include small {
    padding-bottom: 2rem;
    margin-top:-4em;
  }
  @include smaller {
    margin-top: 0;
  }
  @include xs {
    margin-top: 6em;
  }
}

.index-bottom h1 {
  color: color($accent, '600');
  text-align: center;
  letter-spacing: 0.5ch;
}

#simple-easy {
  display: flex;
  padding-bottom: 3em;
}

#timer, #appointment, #get-paid {
  padding-right: 6.7em;
}

#see-price-text, #appt-text, #paid-text {
  justify-content: center;
  align-items: baseline;
  padding-left: 10%;
  padding-right: 10%;
  padding-top:2rem;
  padding-bottom: 2rem;
  h2 {
    padding-left: 30%;
    font-size: 30px;
    font-weight: 700;
    @include small {
      font-size: 20px;
      margin-top: 0;
    }
  }
  @include small {
    align-items: flex-start;
  }
}

.icon-text {
  width: 33vw;
  @include xs {
    width: 70vw;
  }
  @include xxs {
    width: 72vw;
  }
}

.icon-text p {
  font-size: 12px;
  margin:0;
  width: 70%;
  float: right;
  @include xs {
    width: 70%;
  }
  @include xxs {
    width: 70%;
  }
}

.paper-icon {
  @include small {
    margin: 0;
  }
}

.layout-row md-icon.md-default-theme, .md-icon {
  color: color($accent, '600');
}

#other-device-buttons {
  margin-top: 100px;
}

.buybacker-team {
  align-items:center;
  background: url(../assets/images/buybacker-team-money.jpg);
  height: 650px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  @include small {
    height: 188px;
  }
}

.about-text {
  color: color($primary, 'A400');
  text-align: center;
}

.contact {
  text-align: center;
  background: url(../assets/images/buybacker-contact.jpg);
  height: 800px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  color: color($primary, 'A400');
  @include small {
    height: 210px;
  }
}

.contact-text ul {
  list-style: none;

}

#model-change-text {
  padding-top: 0;
  padding-bottom: 2em;
  margin: 0 auto;
  width: 50%;
  @include small {
    display: block;
    text-align: center;
    width: 80%;
  }
  button {
    font-size: 18px;
    align-self: center;
    width: 12em;
    height: 1.5em;
  }
}

#model-change-text h3 {
  padding-bottom: 1em;
  margin: 0 auto;
}

.no-model {
  padding-top: 5em;
  padding-bottom: 5em;
  margin: 0 auto;
}

.no-model h3 {
  margin: 0 auto;
  padding-bottom: 2em;
}

.device-network .md-ink-ripple {
  display: none;
}

.device-network .device_title {
  font-weight: 300;
  color: color($primary, 'A400');
  text-align: center;
  text-shadow: 0 0 1px #EEE, 0 0 2px #DDD;
}

.img_device {
  padding: 0.2em;
  height: 200px;
  @include small {
    height: 100px;
    padding: 0;
  }
}

.img_network {
  box-sizing: initial;
  padding: 2em;
  min-width: 100px;
  height: 50px;
  @include small {
    padding:0;
  }
}

#T-Mobile {
  margin-top: 1.5em;
  height: 28px;
}

#Other {
  width: auto;
  min-width: 38%;
  padding-left: 38%;
}

#Other + div {
  padding-left: 15%
}

#Unlocked {
  margin-left:6%;
  + div {
    margin-left: 6%;
  }
}

.user-selection {
  margin: 0 auto;
  text-align: center;
}

.liquid-container {
  width: 100%;
}

.price {
  margin: 1rem;
  padding-top:4rem;
}

.condition_list {
  list-style: none;
  padding: 0;
}

.device-price {
  align-self: center;
  font-size: 64px;
  font-weight: 300;
}

.device-price span {
  color: color($accent, '600')!important;
  font-weight: 400;
  .money-icon, md-icon.md-default-theme {
    color: color($accent, '600') !important;
    margin-left: -1.8rem;
    padding-right: 2.5rem;
    margin-bottom: 0.7rem;
  }
}

md-input-container.md-default-theme > md-icon, md-input-container > md-icon {
  color: color($primary, 'A400');
}

.price-page-top {
  padding-top:5%;
}

.name-phone {
  align-self: center;
  width: 50%;
}

.phone_input {
  display: flex;
  justify-content: center;
  .md-input {
    width: 100%;
  }
}

.phone_input input {
  padding-right: 36%;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.name_input {
  display: flex;
  justify-content: center;
  margin-top:-2rem;
  padding-top:0;
  .md-input {
    width: 100%;
  }
}

.name_input input {
  padding-right:36%;
}

.size-condition {
  padding-top:1.5rem;
  padding-bottom: 0;
  margin-bottom: -0.03em;
  width:100%;
  @include small {
    font-size: 50px;
  }
}

.size-condition .md-label span {
  @include small {
    color: color($primary, 'A400');
    font-size: 15px;
    font-weight: 300;
    padding-bottom: 25%;
  }
}

.sell_button {
  text-align: center;
  button {
    letter-spacing: 0.3ch;
    width: 80%;
    height: 2em;
    font-size: 24px;
    @include small {
      width: 100%;
      letter-spacing: 0.2ch;
      font-size: 14px;
      margin-top: -1rem;
    }
  }
}

.sell_button .paper-button {
  color: #EFEFEE!important;
}

.device-size {
  text-align: center;
  h3 {
    font-size: 24px;
    font-weight:bold;
  }
  @include small {
    border-top: color($primary, 'A400') 1px solid;
    margin-top: 13%;
    width: 120%;
    margin-left: -5%;
    background-color: color($accent, '600');
    padding-top: 10%;
    h3 {
      color: #FFFFFF;
      padding-right: 12%;
      padding-top: 0;
      margin-top: -5%;
      margin-bottom: -2%;
      font-size: 24px;
      font-weight:bold;
    }
    md-radio-button.md-default-theme .md-off, md-radio-button .md-off {
      border-color: color($warn, '300');
    }
  }
}

#size-radio {
  width: 75%;
  align-self: center;
  @include small {
    padding-right: 5%;
  }
}

.device-condition {
  text-align: center;
  h3 {
    font-size: 24px;
    font-weight:bold;
    padding-bottom: 3%;
  }
  @include small {
    padding-top: 10%;
    border-top: color($primary, 'A400') 1px solid;
    margin-top: 0;
    width: 110%;
    margin-left: -5%;
    background-color: color($accent, '600');
    h3 {
      padding-right: 5%;
      color: #FFFFFF;
      padding-top: 0;
      margin-top: -5%;
      margin-bottom: -2%;
    }
    md-radio-button.md-default-theme .md-off, md-radio-button .md-off {
      border-color: color($warn, '300');
    }
  }
}

#condition-radio {
  width: 100%;
  padding-left: 2%;
  align-self: center;
  @include small {
    padding-right: 5%;
  }
}

.condition-description {
  width: 99%;
  padding-bottom: 6%;
  font-size: 14px;
  @include small {
    width: 90%;
    padding-left: 7.5%;
    margin-top: -2em;
    color: #FFFFFF;
    font-weight: 700;
  }
}

.card-media {
  text-align: center;
  padding-top: 1em;
}

.contact-page, .about-page {
  margin-top: 5.5rem;
}

.reset-button button {
  width: 40vmax;
  font-size: 16px;
}

.reset-button button a {
  color: #EFEFEE;
  text-decoration: none;
}

.navigation {
  color: color($primary, 'A400');
  width: 50%;
  display:flex;
  justify-content: space-around;
}

.navigation a {
  color: color($primary, 'A400');
  text-decoration: none;
}


