@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,400italic,900,700);

html {
    font-family: 'Roboto', 'OpenSans', serif;
}

.header_container, .footer_container {
    position:absolute;
    left:0;
    padding:0;
    min-width:100%;
}

.header_container {
    height: 10%;
    top: 0;
    background-color: #009926;
}

.header {
    display:flex;
    justify-content: center;
    align-items: baseline;
    align-content: center;
}

.header a {
    margin-left: 1em;
    margin-right: 1em;
    padding: 0.4em;
    color: #FFF;
    text-decoration: none;
}

.body {
    padding-top: 5.5%;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 5.5%;
    display:flex;
    justify-content: center;
    align-items: baseline;
    align-content: center;
}

.device_listing {
    display: flex;
}

.device {
    padding:2em;
    margin:2em;
    border: 2px solid transparent;
}

.img_device {
    padding: 0.2em;
    height: 200px;
}

.device:hover {
    border: 2px solid #009926;
}

.footer_container {
    height: 10%;
    bottom:0;
    background-color: #009926;
}

.footer {
    padding-top:2%;
    display:flex;
    justify-content: space-around;
    align-content: center;
}

.navigation {
    color: #FFF;
    width: 50%;
    display:flex;
    justify-content: space-around;
}

.navigation a {
    color: #FFF;
    text-decoration: none;
}