@import 'ember-paper';
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,400italic,900,700);

html {
  height: auto;
  min-height: 100%;
  position: relative;
  font-family: 'Roboto', 'OpenSans', serif;
}


.header_container, .footer_container {
  position:absolute;
  left:0;
  padding:0;
  min-width:100%;
}

.header_container {
  height: 80px;
  top: 0;
  background-color: #009926;
}

.header {
  display:flex;
  justify-content: center;
  align-items: baseline;
  align-content: center;
}

.header a {
  color: #FFF;
  text-decoration: none;
}

.body {
  padding-top: 5.5%;
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 5.5%;
  display:flex;
  justify-content: center;
  align-items: baseline;
  align-content: center;
}

.user-selection {
  display: flex;
}

.final-device-selection {
  margin: 5rem;
}

.selector {
  display: flex;
  flex-wrap: wrap;
}

.hidden-component .selector {
  display: none;
}

.device {
  padding:2em;
  margin:2em;
  border: 2px solid transparent;
}

.img_device {
  padding: 0.2em;
  height: 200px;
}

.device:hover {
  border: 2px solid #009926;
}

.footer_container {
  position: absolute;
  height: 80px;
  bottom:0;
  background-color: #009926;
  overflow: hidden;
}

.footer {
  padding-top:2%;
  display:flex;
  justify-content: space-around;
  align-content: center;
}

.navigation {
  color: #FFF;
  width: 50%;
  display:flex;
  justify-content: space-around;
}

.navigation a {
  color: #FFF;
  text-decoration: none;
}
