<div class="buybacker-team layout-row sec03">
    <div class="about flex">
        <div class="about-text flex">
            <h2>About us</h2>
            <p>
                Decriptive text about Buybackers goes here
            </p>
        </div>
    </div>
</div>
