<div class="header_container">
    <div class="header">
        {{#link-to 'index'}}
            <h1 class="left">
                <em>BuyBack World</em>
            </h1>
        {{/link-to}}
    </div>
</div>

<div class="body">
    {{outlet}}
</div>

<div class="footer_container">
    <div class="footer">
        <div class="navigation">
            {{#link-to 'about'}}
                About
            {{/link-to}}
            {{#link-to 'contact'}}
                Contact
            {{/link-to}}
        </div>
    </div>
</div>