<div class="device-selector">
    <h3>Device Selector Component</h3>
    {{#each uniqueDevice as |device|}}
        {{device-selector send=(action 'deviceValue') device_type=device.device_type image=device.image}}
    {{/each}}
</div>

{{outlet}}

{{#if selectedDevice}}
<div class="selected-device">
    {{#each selectedDevice as |device|}}
        {{device}}
    {{/each}}
</div>
{{/if}}