 <div class="layout-column flex" id="index">
     <div class="flex index-text sec01">
         {{index-text}}
     </div>
     <div class="device-type selector flex" id="index-button-container">
         {{device-selector send=(action 'deviceSelected')}}
     </div>
 </div>

{{about-us}}

{{liquid-outlet}}