<div class="index">
    <div class="index_text">
        <h1>Welcome to BuyBack World</h1>
        <p>We buy your used device for cash in NYC</p>
    </div>
    <div class="device_listing">
        {{#each model as |device|}}
            <div class="device">
                <div class="device_title">
                    <h3>{{device.title}}</h3>
                </div>
                <div class="device_image">
                    {{device.image}}
                </div>
            </div>
        {{/each}}
    </div>
</div>
