{{#if uniqueModel}}
    {{#unless selectedDevice.device_attributes.model}}
        <div class="layout-row layout-md-column" id="model-selection-text">
            <h2><em>What model iPad are you selling?</em></h2>
        </div>
        <div class="device-model selector">
            {{#each uniqueModel as |uniqueModel|}}
                {{device-model deviceVal send=(action 'modelValue') id=uniqueModel.id device_model=uniqueModel.device_model image=uniqueModel.image}}
            {{/each}}
        </div>
        <div class="layout-row layout-md-column" id="model-change-text">
            <h3>Showing models for: {{selectedDevice.device_attributes.device}}</h3>
            {{#paper-button raised=true primary=true onClick=(action "selectNewDevice")}}Select New Device{{/paper-button}}
        </div>
    {{/unless}}
{{else}}
    <div class="layout-row layout-md-column flex no-model">
        <h3>You have not selected a device yet</h3>
        {{#paper-button raised=true primary=true onClick=(action "selectDevice")}}Select Device{{/paper-button}}
    </div>
{{/if}}

{{liquid-outlet}}
