{{#if uniqueNetwork}}
    <div class="layout-row layout-md-column" id="network-selection-text">
        <h2><em>Choose your Network</em></h2>
    </div>
    <div class="device-network selector">
        {{#each uniqueNetwork as |network|}}
            {{device-network send=(action 'networkValue') network=network.network }}
        {{/each}}
    </div>
    <div class="network selector reset-button">
        {{paper-button noink=true raised=true primary=true onClick=(action 'startOver') label="Start Over"}}
    </div>
{{else}}
    <div class="layout-row layout-md-column" id="network-selection-text">
        <h2>You have visited this page without selecting a device to sell.</h2>
    </div>
    <div class="network selector reset-button">
        {{paper-button noink=true raised=true primary=true onClick=(action 'startOver') label="Get Cash For My Device"}}
    </div>
{{/if}}