<div class="layout-column flex" id="index">
    <div class="flex index-text sec01">
        <div id="index-text-money">
            money
        </div>
        <div id="index-text-one-hour">
            Hand delivered to your door in as little as one hour.
        </div>
    </div>
    <div class="device-type selector flex" id="index-button-container">
        {{other-selection ipad=(action 'iPadSelection') samsung=(action 'samsungSelection')}}
    </div>
</div>

{{about-us}}

{{liquid-outlet}}