<div class="layout-column flex" id="index">
    <div class="flex index-text sec01">
        <div id="index-text-money">
            money
        </div>
        <div id="index-text-one-hour">
            Hand delivered to your door in as little as one hour.
        </div>
    </div>
    <div class="device-type selector flex" id="index-button-container">
        {{other-selection ipad=(action 'iPadSelection') samsung=(action 'samsungSelection')}}
    </div>
</div>

<div class="index-bottom flex">
    <div class="layout-xs-column layout-row" id="simple-easy">
        <div class="layout-row layout-gt-xs-column flex" id="see-price-text">
            <img src="assets/images/instant-quote.png" class="index-icon" id="index-icon-quote" height="100" alt="instant quote icon"/>
            <div class="flex icon-text">
                <h2>Instant Quote</h2>
                <p>Simply choose your device and see how much you're going to get paid.</p>
            </div>
        </div>
        <div class="layout-row layout-gt-xs-column flex" id="appt-text">
            <img src="assets/images/same-day-payment.png"  class="index-icon" id="index-icon-payment" height="100" alt="same day payment icon"/>
            <div class="flex icon-text">
                <h2>Same Day Payment</h2>
                <p>We'll text you so you can tell us the best time to bring you money and pick-up your old device.</p>
            </div>
        </div>
        <div class="layout-row layout-gt-xs-column flex" id="paid-text">
            <img src="assets/images/friendly-girl.png"  class="index-icon" id="index-icon-girl" height="100" alt="friendly staff icon"/>
            <div class="flex icon-text">
                <h2>Buybackers</h2>
                <p>Our team loves helping people. It's what we do best, and we're here to answer any question you may have.</p>
            </div>
        </div>
    </div>
</div>
<div class="buybacker-team layout-row layout-xs-column index-footer">
    <div class="flex-50 flex-xs-100">
        <img src="assets/images/buybacker-team.jpg" alt="buybacker team"/>
    </div>
    <div class="index-footer-text flex-50 flex-xs-100" id="buybacker-team-text">

        <h4>Our Buybackers are some of the nicest people you'll ever meet. Fun, professional, and smart - you'll wish we didn't have to leave so soon.</h4>

    </div>
</div>
<div class="index-footer-details">
    <div class="layout-row">
        <div class="flex layout-column flex-50">
            <h2 class="index-footer-title">30</h2>
            <span class="index-footer-description">
                Takes less than 30 seconds to see how much you'll get paid.
            </span>
        </div>
        <div class="flex layout-column flex-50">
            <h2 class="index-footer-title">3</h2>
            <span class="index-footer-description">
                Just 3 easy clicks to sell your old device.
            </span>
        </div>
    </div>
    <div class="layout-row">
        <div class="layout-column flex-50">
            <h2 class="index-footer-title">1</h2>
            <span class="index-footer-description">
                We'll bring you money in as little as one hour.
            </span>
        </div>
        <div class="layout-column flex-50">
            <h2 class="index-footer-title">0</h2>
            <span class="index-footer-description">
                Zero effort. Theres no easier way to sell your old device.
            </span>
        </div>
    </div>
    <div class="layout-row">
        <div class="layout-column flex-50">
            <h2 class="index-footer-title">Anywhere</h2>
            <span class="index-footer-description">
                Our Buybackers deliver money anywhere in NYC and Orange County (California).
            </span>
        </div>
        <div class="layout-column flex-50">
            <h2 class="index-footer-title">Always</h2>
            <span class="index-footer-description">
                We'll always remove all the data from your device so your information is safe and secure.
            </span>
        </div>
    </div>
</div>
<div class="buybacker-bring-money-text flex-100">
    <h4>Buybackers will come bring you money anywhere in New York City. We're working on launching in San Francisco, Los Angeles, Boston, and many other cities around the world. Stay tuned and we'll see you soon!</h4>
    {{#paper-button raised=true onClick=(action "scrollToTop")}}Sell Now{{/paper-button}}
</div>


{{liquid-outlet}}
