<div class="layout-row flex index-bottom-buttons" id="other-device-buttons">
    <div class="flex buttons" id="ipad-button">
        {{#paper-button raised=true primary=true noink=true onClick=(action "iPadSelection") bubbles=false }}Sell iPad{{/paper-button}}
    </div>
    <div class="flex buttons" id="samsung-button">
        {{#paper-button raised=true primary=true noink=true onClick=(action "samsungSelection") bubbles=false }}Sell Samsung{{/paper-button}}
    </div>
</div>
