<div class="thanks">
    <div class="about-text">
        <h2>Thank you for selling your device with BUYBACKERS!</h2>
        <p>
          A representative will be contacting you at the phone number provided shortly to arrange final details to sell your device.
        </p>
    </div>
</div>